{% extends 'base.html' %}
{% block title_block %}
    Track Implied Probabilities
{% endblock %}
{% load staticfiles %}

{% block summernote_css %}
    {{ block.super }}
{% endblock %}

{% block amcharts_scripts %}
    {{ block.super }}
{% endblock %}

{% block loaders_css %}
    {{ block.super }}
{% endblock %}

{% block date_range_pickers %}
    {{ block.super }}
{% endblock %}

{% block css_styles %}
    {{ block.super }}
{% endblock %}



{% block content %}
    <input type="hidden" id="implied_probability_chart" value="{{ implied_probability_chart }}">
    <input type="hidden" id="field_names" value="{{ field_names }}">


    <div class="modal animated lightSpeedIn text-left" id="ess_drilldown_modal" tabindex="-1"
         role="dialog" aria-labelledby="modal_label" aria-hidden="true">
        <div class="modal-xl modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal_label">Implied Prob (%)</h4><br>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5 class="text-center">Click <a href="{% url 'risk:ess_idea_database' %}" target="_blank">here</a> for ESS Idea Database.</h5>
                    <div class="table-responsive">
                        <table class="table table-bordered" id='ess_implied_probability_drilldown'>
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Alpha Ticker</th>
                                <th>Price</th>
                                <th>Deal Type</th>
                                <th>Implied Probability</th>
                                <th>Details</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th colspan="4" style="text-align: right">(Note: Rows highlighted in Red are not inlcuded in average calculation) Avg (%):</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id='close_imp_prob_modal' type="button"
                            class="btn btn-danger btn-outline-secondary" data-dismiss="modal">Close
                    </button>
                    <button type="submit" class="btn btn-outline-primary">Save Changes</button>
                </div>
            </div>
        </div>
    </div>



    <div class="app-content content">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">

                                <ul class="nav nav-tabs nav-justified nav-underline no-hover-bg">

                                    <li class="nav-item">
                                        <a class="nav-link active" id="base-tab1" data-toggle="tab"
                                           aria-controls="tab1"
                                           href="#tab1" aria-expanded="true">Track Implied Probability %</a>
                                    </li>


                                </ul>

                                <div class="tab-content px-1 pt-1">
                                    <div role="tabpanel" class="tab-pane active" id="tab1" aria-expanded="true"
                                         aria-labelledby="base-tab1" style="background-color: #3f3e3b; color: #fff;">
                                        <div id="implied_probability_track" style="height: 500px">
                                        </div>
                                    </div>
                                </div>
                                <p class="card-text text-lg-center">
                                    <small class="text-muted">Chart Insights</small>
                                </p>


                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped" id='ess_implied_probability_table'
                                           style="font-size:12px;">
                                        <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Deal Type</th>
                                            <th>Avg. Implied Probability</th>
                                            <th>Count</th>
                                            <th>Drilldown</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for row in ess_implied_prob %}
                                            <tr>
                                                <td>{{ row.Date|date:'Y-m-d' }}</td>
                                                <td>{{ row.deal_type }}</td>
                                                <td>{{ row.implied_probability }}</td>
                                                <td>{{ row.count }}</td>
                                                <td data-date="{{ row.Date|date:'Y-m-d' }}"
                                                    data-deal="{{ row.deal_type }}">
                                                    <button type="button" class="btn btn-secondary btn-sm btn-details">Drilldown</button>
                                                </td>

                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <script src="{% static 'app-assets/vendors/js/vendors.min.js' %}" type="text/javascript"></script>
        <script type="text/javascript" src="{% static "app-assets/js/core/chartBuilder.js" %}"></script>
        {% block sweetalert_js %}
            {{ block.super }}
        {% endblock %}

        {% block navs_js %}
            {{ block.super }}
        {% endblock %}

        {% block summernote_js %}
            {{ block.super }}
        {% endblock %}

        <script src="{% static 'app-assets/vendors/js/pickers/dateTime/moment-with-locales.min.js' %}"
                type="text/javascript"></script>

        <script src="{% static 'app-assets/vendors/js/loaders/loaders.css.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.5.4/randomColor.min.js"></script>

        <script src="https://www.amcharts.com/lib/3/themes/black.js"></script>
        <script src="{% static 'app-assets/js/core/implied_probability_track.js' %}"></script>


{% endblock %}