{% extends 'base.html' %}
{% block title_block %}
    Track Implied Probabilities
{% endblock %}
{% load staticfiles %}

{% block summernote_css %}
    {{ block.super }}
{% endblock %}

{% block amcharts_scripts %}
    {{ block.super }}
{% endblock %}

{% block loaders_css %}
    {{ block.super }}
{% endblock %}

{% block date_range_pickers %}
    {{ block.super }}
{% endblock %}

{% block css_styles %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <input type="hidden" id="implied_probability_chart" value="{{ implied_probability_chart }}">
    <input type="hidden" id="field_names" value="{{ field_names }}">

    <div class="app-content content">

        <div class="content-wrapper">

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">

                                <ul class="nav nav-tabs nav-justified nav-underline no-hover-bg">

                                    <li class="nav-item">
                                        <a class="nav-link active" id="base-tab1" data-toggle="tab"
                                           aria-controls="tab1"
                                           href="#tab1" aria-expanded="true">Track Implied Probability %</a>
                                    </li>


                                </ul>

                                <div class="tab-content px-1 pt-1">
                                    <div role="tabpanel" class="tab-pane active" id="tab1" aria-expanded="true"
                                         aria-labelledby="base-tab1" style="background-color: #3f3e3b; color: #fff;">
                                        <div id="implied_probability_track" style="height: 500px">
                                        </div>
                                    </div>
                                </div>
                                <p class="card-text text-lg-center">
                                    <small class="text-muted">Chart Insights</small>
                                </p>



                                <div class="table-responsive">
                                    <table class="table table-bordered" id='ess_implied_probability_table'
                                            style="font-size:12px;">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Deal Type</th>
                                                <th>Avg. Implied Probability</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for row in ess_implied_prob %}
                                                <tr>
                                                    <td>{{ row.Date }}</td>
                                                    <td>{{ row.deal_type }}</td>
                                                    <td>{{ row.implied_probability }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>


                        </div>
                    </div>
                </div>
            </div></div>

    </div>

    <script src="{% static 'app-assets/vendors/js/vendors.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static "app-assets/js/core/chartBuilder.js" %}"></script>
    {% block sweetalert_js %}
        {{ block.super }}
    {% endblock %}

    {% block navs_js %}
        {{ block.super }}
    {% endblock %}

    {% block summernote_js %}
        {{ block.super }}
    {% endblock %}

    <script src="{% static 'app-assets/vendors/js/pickers/dateTime/moment-with-locales.min.js' %}"
            type="text/javascript"></script>

    <script src="{% static 'app-assets/vendors/js/loaders/loaders.css.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.5.4/randomColor.min.js"></script>

    <script src="https://www.amcharts.com/lib/3/themes/black.js"></script>
   <script src="{% static 'app-assets/js/core/implied_probability_track.js' %}"></script>


{% endblock %}