{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

    <div class="app-content content">
    <div class="content-wrapper">
      <div class="content-header row">
      </div>
      <div class="content-body">
        <section class="flexbox-container">
          <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="col-md-4 col-10 box-shadow-2 p-0">
              <div class="card border-grey border-lighten-3 px-2 py-2 m-0">
                <div class="card-header border-0 pb-0">
                  <div class="card-title text-center">
                    <img src="{% static 'app-assets/images/logo/logo-dark.png' %}" alt="branding logo">
                  </div>
                  <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                    <span>Thank You</span>
                  </h6>
                </div>
                <div class="card-content">
                  <div class="card-body">
                    <h3>An email with instructions has been sent for setting your password.</h3>
                  </div>
                </div>
                <div class="card-footer border-2">
{#                  <p class="btn btn-secondary"><a href="{% url 'login' %}">Login</a></p>#}
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>


{% endblock %}